*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif; 
}
/* Header */
.intestazione{
    background-color: white;
}
h1{
    display: inline;
    vertical-align: middle;
    font-weight: 900;
}
#logo{
    vertical-align: middle;
    margin: 10px;
    height: 70px;
    margin-left: 20px;
}
/* main */
.container{
    background-color: white;
    width: 60%;
    margin:20px auto;
    border-radius: 4px;
} 
.button-row{
    padding: 10px 20px;
    border-bottom: 1px solid lightgrey;
}
#task{
    background-color: #2196f3;
    color: white;
    padding: 5px;
    border: 1px solid #2196f3 ;
    border-radius: 6px;
}
#section{
    background-color: white;
    color: grey;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid grey ;
}
/* List */
ul{
    list-style-type: none;
}
.new-task{
    margin: 20px;
}
.categories{
    padding-bottom: 15px;
} 
.spunta{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 10px;
    border: 1px solid currentColor;
    text-align: center;
    display: inline-block;
    line-height: 15px;
    vertical-align: middle;
}
.right{
    color: lightgreen;
    border-color: lightgreen;
}
.wrong{
    color: red;
    border-color: red;
}
/* etichette */
.etichetta{
    font-size: 9px;
    border-radius:50px;
    padding: 2px 5px ;
    color: white;
    vertical-align: middle;
}
.azzurro{
    background-color: #2196f3;
    border: 1px solid #2196f3 ;
}
.viola{
    background-color: rgb(153, 92, 209);
    border: 1px solid rgb(153, 92, 209);
}
.verde{
    background-color: rgb(74, 161, 110);
    border: 1px solid rgb(74, 161, 110);
}
.arancione{
    background-color: orange;
    border: 1px solid orange;
}
.rosa{
    background-color: rgb(252, 102, 184);
    border: 1px solid rgb(252, 102, 184)
}
.verde-acido{
    background-color: #82f34e;
    border: 1px solid #82f34e;
}
